version: '3.9'
services:
  dplus-update:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DISCORD_WEBHOOK_ID=${DISCORD_WEBHOOK_ID}
      - DISCORD_WEBHOOK_TOKEN=${DISCORD_WEBHOOK_TOKEN}
    network_mode: 'host'
